<h2 class='country-info__title'><img src='{{flags.svg}}' width='90' />
  {{name.official}}</h2>

<p class='country-info__item'><b>Capital: </b>{{capital}}</p>
<p class='country-info__item'><b>Population: </b> {{population}}</p>
<p class='country-info__item'><b>Languages: </b>
  {{#each languages}} {{this}} {{/each}}</p>